{% extends 'portfolio/base.html' %}
{% block content %}

    <h1 id="blogtitle" class="font-weight-bold text-center">Blogs</h1>
    {% for blog in blogs %}
        <div class="row justify-content-center my-3">
            <div class="col-md-10">
                <a href="{% url 'blog:detail' blog.id %}"><h2>{{ blog.title }}</h2></a>
                <h5>{{ blog.date|date:'M d Y' }}</h5>
                <p>{{ blog.descriptions|striptags|truncatechars:100 }}</p>
            </div>
        </div>
    {% endfor %}

    <br>

{% endblock %}